{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends":  ["eslint:recommended"],
  "ignorePatterns": ["dist", ".eslintrc.cjs"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "no-unescaped-entities": "off",
    "no-unused-vars": "warn",
    "no-explicit-any": "warn"
  }
}
